/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/md-light-indigo/theme.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.hidden {
  display: none !important;
}
button {
  font-family: "serif" !important;
}

// scroll customize
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc9140;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6f00;
  opacity: 1;
}
@media (max-width: 953px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
// three dots animation
.global-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  width: 100%;
  height: 100%;
  background-color: #eee;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.global-loader-fade-in {
  opacity: 0;
}

.global-loader-hidden {
  display: none;
}

.global-loader p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.04rem;
  white-space: pre;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: repeating-linear-gradient(
    to right,
    #f44336,
    #9c27b0,
    #3f51b5,
    #03a9f4,
    #009688,
    #8bc34a,
    #ffeb3b,
    #ff9800
  );
  background-size: 750% auto;
  background-position: 0 100%;
  animation: gradient 18s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -750% 0;
  }
}
