<div class="main" fxLayout.lg-sm="row" fxLayout.lt-sm="column" fxLayout.sm="column"
  fxLayoutAlign.lt-sm="space-around none">
  <!-- login form -->
  <div fxLayoutAlign="center center" fxFlex.gt-sm="40" fxFlex.lt-sm="80" fxFlex.sm="80" class="login-form">
    <mat-card fxLayoutAlign="center" fxFlex.lt-sm="95" class="mat-elevation-z10">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" fxLayout="column" dir="rtl" inline="true">
        <!--  -->
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="outline">
            <mat-label>اسم المستخدم
              <mat-icon>account_circle</mat-icon>
            </mat-label>
            <input formControlName="adminName" matInput placeholder="ادخل اسم المستخدم" />
            <mat-error *ngIf="loginForm.get('adminName').invalid">{{nameError}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>كلمة السر
              <mat-icon>https</mat-icon>
            </mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password').invalid">{{passError}}</mat-error>
          </mat-form-field>
        </div>
        <!--  -->
        <div fxLayout="column">
          <div fxFlexAlign="start" style="line-height: 50px; font-size: 15px; direction: rtl">
            <label>
              <mat-checkbox formControlName="rememberMe" style="margin-left: 5px; margin-right: 5px"></mat-checkbox>
              تذكرني ؟
            </label>
          </div>
          <mat-card-actions fxLayoutAlign="center center">
            <button [disabled]="loginForm.invalid" mat-button type="submit"
              [ngClass]="!loginForm.valid ? 'button-invalid' : 'button-valid'">
              تسجيـل الدخـول
            </button>
          </mat-card-actions>
        </div>
        <!--  -->
      </form>
    </mat-card>
  </div>
  <!-- photo -->
  <div fxHide.lt-sm fxHide.sm fxFlex class="photo" fxLayout="row" fxLayoutAlign="center center">
    <embed inline="true" src="../../../assets/undraw_metrics_gtu7.svg">
  </div>
</div>
