.main {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  direction: rtl;
  background-color: snow;
}

// login form
.login-form {
  background-color: transparent;
  mat-card {
    width: 550px;
    height: 350px;
    border-bottom: 5px solid #374b73;
    border-left: 5px solid #374b73;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-left-radius: 50px;

    form {
      width: 80%;
      height: 70%px;
      mat-form-field {
        width: 100%;
        font-size: large;
        text-align: right !important;
      }
      mat-error {
        float: right;
        font-size: large;
      }
    }
  }
}

// buttons
.button-valid {
  outline: none;
  background-color: #374b73;
  color: white;
  padding: 5px 30px;
  font-size: large;
}
.button-invalid {
  background-color: #9b9d9e;
  color: white;
  padding: 5px 30px;
  font-size: large;
}

// photo
.photo {
  embed {
    max-width: 80%;
    max-height: 100%;
  }
}

// input out field
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #374b73 !important;
}

//تذكزكري
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  // color: rgba(28,190,204,0.8) !important;
  background-color: #374b73 !important;
}

@media (max-width: 959px) {
}
