
.KitchenImg {
  height: 350px;
  width: 300px;
  margin-bottom: 10px;
}
#kichenBtn {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 70px;
}
.head {
  text-align: center;
}
.kitchenHead {
  background-color: cornsilk;
  width: 600px;
  margin: 30px auto;
  margin-top: 10px;
  border-radius: 10px;
}
.picsTitle {
  margin-left: 90px;
}
.active {
  background-color: bisque;
}
