.cartDiv {
  display: inline-flex;border: 1px aqua;
  border: 1px solid red;
  width: 833px;
  height: 153px;
  background-color: whitesmoke;
}
.h4, h4 {
  font-size: 1.5rem;
  width: 165px;
}
p {
  text-align: center;
  height: 20px;
}
::ng-deep .mat-form-field-wrapper {
  position: relative;
  height: 59px;
}
::ng-deep .mat-form-field-flex {
  cursor: pointer;
  height: 35px;
  border-radius: 10px;
}
