<!-- <div class="container">
  <div class="row">
    <div class="col-md-5">
      <form class="form-group" id="form">
              <label for="name"></label>
              <input id="inp" class="form-control" type="text" name="filter your Products" placeholder="قم بتصفيه المنتجات" [(ngModel)]="listFilter" >
      </form>
      </div>
      <div class="col-md-7">
        <img id="jumPic" src="assets/myJum.png">
      </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div *ngFor="let product of filteredProducts " id="cardsss" class="col-md-4">
      <mdb-card style="border: 1px solid #ddd; border-radius: 10px;">

        <mdb-card-img [src]="product.imgUrl" [routerLink]="[product.id]" style="cursor: pointer;"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-text style="height: 60px;">
            <p style="text-align: center; height: 17px;">{{product.detail}}</p>
          </mdb-card-text>
          <mdb-card-text>
            <p style="text-align: center; height: 25px;">{{product.price}}</p>
          </mdb-card-text>
          <a style="text-align: center;margin-left: 44px; height: 45px;"  id="cardsBtn"  mdbBtn color="info"
            mdbWavesEffect (click)="cartPlus(product)">{{product.button}}</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div> -->
