@import "variables";

.p-4 {
  margin: 4px !important;
}

.p-8 {
  margin: 8px !important;
}

.m-t-16 {
  margin-top: 16px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
