<!-- Toolbar -->
<toolbar-dash
  #target
  class="mat-elevation-z3"
  (sidenavToggle)="sidenav.toggle()"
></toolbar-dash>
<mat-sidenav-container class="container">
  <!-- side nav -->
  <mat-sidenav
    #sidenav
    position="start"
    role="navigation"
    class="mat-elevation-z1"
    mode="side"
    opened
  >
    <side-dash (SidenavClose)="sidenav.close()"></side-dash>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <!-- main content -->
    <main>
      <router-outlet></router-outlet>
    </main>

    <!-- fxHide.gt-lg fxHide-->
  </mat-sidenav-content>
</mat-sidenav-container>
