// ورب الكعبة ال هيقرب من الفيل دا ... ✊✊✊
*:not(i, mat-icon, .floating-container, .floating-social-visible, .toggle-social) {
  background-color: white;
}

//  toolbar
toolbar-dash {
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 3;
}

mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
}

.container {
  height: calc(100% - 60px) !important;
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

mat-sidenav {
  position: absolute;
  top: 0;
  background-color: #f1f1f1;

  side-dash {
    height: 100%;
  }
}

@font-face {
  font-family: "serif";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets//fonts/jzoor/JF-Flat-regular.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "JalalLight";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/jalal/JalalLTLight.otf");
}
