mat-nav-list:lang(ar) {
  direction: rtl;
}
*:not(mat-icon) {
  font-family: "serif" !important;
}

mat-nav-list {
  background-color: whitesmoke;
  min-height: 100%;
}

// when logged in
.profile-container {
  min-height: 200px;
  padding-top: 20px;
  .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ff6f00;
    background-color: rgb(225, 225, 225);
    text-align: center;
    mat-icon {
      height: 150px;
      width: 150px;
      font-size: 150px;
      color: #8f8f8f;
    }
  }
  h4 {
    text-align: center;
    line-height: 5px;
  }
  p {
    line-height: 5px;
    font-weight: bold;
  }
  span {
    color: #ff6f00;
    margin: 0 5px;
  }
}

.link {
  text-decoration: none;
  color: white;
  // border-right: 3px solid #ff6f00;
  // border-left: 3px solid #ff6f00;
  margin: 5px auto;
  .nav-caption {
    color: rgb(56, 56, 56);
  }
  mat-icon {
    margin: 0 10px;
    color: #ff6f00;
  }
}

.link:hover,
.link:active {
  cursor: pointer;
  color: #ff6f00;
  .nav-caption {
    color: #ff6f00;
  }
}

// log out button
.logOut {
  text-decoration: none;
  color: white;
  border-right: 3px solid #0a2b58e3;
  border-left: 3px solid#0a2b58e3;
  margin: 5px auto;
  padding: 10px;
  color: #0a2b58e3;

  mat-icon {
    margin: 0 20px;
  }
}

.logOut:hover,
.logOut:active {
  cursor: pointer;
  color: #ff6f00;
  .nav-caption {
    color: #ff6f00;
  }
}
