<mat-nav-list fxLayout="row wrap" fxLayoutAlign="center start">
  <!-- in the future make it photo and clickable button -->
  <div
    class="profile-container"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div class="photo" fxLayout="row wrap" fxLayoutAlign="center center" [ngSwitch]="">
      <mat-icon inline="true">account_circle</mat-icon>
    </div>
    <h4 fxFlex="100">
      <span>{{ "welcome" | translate }}</span> {{ user.name }}
    </h4>
    <p>{{ user.email }}</p>
    <p>{{ "jop" | translate }} : Admin</p>
  </div>
  <hr fxFlex="100" />
  <!--  -->
  <a
    class="link"
    mat-list-item
    fxFlex="100"
    *ngFor="let link of links"
    routerLink="{{ link.location }}"
  >
    <mat-icon>{{ link.icon }}</mat-icon>
    <span class="nav-caption">{{ link.disc | translate }}</span>
  </a>
  <!--  -->
  <a *ngIf="loggedIn" class="logOut" fxFlex="100" fxLayout="row" (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>{{ "logout" | translate }}</span>
  </a>
</mat-nav-list>
