<div fxFill fxFlex.sm fxFlex.lt-sm fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    class="loginRegisterContainer"
    fxFlex="40"
    fxFlex.sm="100"
    fxFlex.lt-sm="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div
      class="logo"
      fxHide.gt-sm
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
    >
      <img src="../../../assets/images/loginBanner.gif" alt="" />
    </div>
    <mat-card
      fxFlex="80"
      fxFlex.sm="90"
      fxFlex.lt-sm="90"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <mat-tab-group
        fxFlex="90"
        mat-align-tabs="center"
        dynamicHeight
        color="accent"
        dir="rtl"
      >
        <!-- login -->
        <mat-tab label="تسجيل الدخول">
          <div
            class="loginContainer"
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="center center"
          >
            <form
              class="loginForm"
              fxFlex="100"
              fxLayout="column"
              fxLayoutAlign="center center"
              fxLayoutGap="5"
              inline="true"
              dir="rtl"
              novalidate
              [formGroup]="loginForm"
              (ngSubmit)="login(loginForm)"
            >
              <h3>ثقة <span style="font-size: 30px; margin: 0 10px">أمان </span>سرعة</h3>

              <mat-form-field fxFill appearance="outline">
                <mat-label>البريد الالكتروني</mat-label>
                <input
                  formControlName="email"
                  type="email"
                  matInput
                  placeholder="ادخل البريد الالكتروني"
                />
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-error>{{ emailError }}</mat-error>
              </mat-form-field>

              <mat-form-field fxFill appearance="outline">
                <mat-label
                  >كلمة السر
                  <mat-icon>https</mat-icon>
                </mat-label>
                <input
                  formControlName="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.get('password').invalid"
                  >ادخل كلمة السر</mat-error
                >
              </mat-form-field>

              <p
                *ngIf="errorMessage$ | async as errorMessage"
                fxFlex="100"
                style="color: red; height: 20px; font-size: 13px"
              >
                {{ errorMessage }}
              </p>

              <button
                [ngClass]="{
                  registerButton: loginForm.valid,
                  'button-invalid': loginForm.invalid
                }"
                fxFill
                mat-raised-button
                type="submit"
                [disabled]="loginForm.invalid"
              >
                تسجيل الدخول
              </button>
            </form>
          </div>
        </mat-tab>
        <!-- register -->
        <mat-tab label="مستخدم جديد">
          <form
            class="registerForm"
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="5"
            inline="true"
            novalidate
            [formGroup]="registerForm"
            (ngSubmit)="registration(registration(registerForm))"
          >
            <mat-form-field fxFill appearance="outline">
              <mat-label>اسم المستخدم </mat-label>
              <input formControlName="name" matInput placeholder="ادخل اسم المستخدم" />
              <mat-icon *ngIf="registerForm.get('name').invalid" matSuffix
                >account_circle</mat-icon
              >
              <mat-icon
                *ngIf="registerForm.get('name').valid"
                matSuffix
                style="color: rgb(0, 177, 0)"
                >check</mat-icon
              >
              <mat-error>{{ displayErrorMessage.name }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFill class="form-field" appearance="outline">
              <mat-label>الهاتف المحمول</mat-label>
              <input
                formControlName="phone"
                matInput
                type="tel"
                placeholder="أدخل 11 رقم"
              />
              <mat-icon *ngIf="registerForm.get('phone').invalid" matSuffix
                >mode_edit</mat-icon
              >
              <mat-icon
                *ngIf="registerForm.get('phone').valid"
                matSuffix
                style="color: rgb(0, 177, 0)"
                >check</mat-icon
              >
              <mat-error>{{ displayErrorMessage.phone }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFill class="form-field" appearance="outline">
              <mat-label>المدينــــة</mat-label>
              <input
                formControlName="location"
                matInput
                placeholder=" المحافظة - المدينة - عنوانك"
              />
              <mat-icon *ngIf="registerForm.get('location').invalid" matSuffix
                >location_on</mat-icon
              >
              <mat-icon
                *ngIf="registerForm.get('location').valid"
                matSuffix
                style="color: rgb(0, 177, 0)"
                >check</mat-icon
              >
              <mat-error>{{ displayErrorMessage.location }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFill appearance="outline">
              <mat-label>البريد الالكتروني</mat-label>
              <input
                formControlName="email"
                type="email"
                matInput
                placeholder="ادخل البريد الالكتروني"
              />
              <mat-icon *ngIf="registerForm.get('email').invalid" matSuffix
                >alternate_email</mat-icon
              >
              <mat-icon
                *ngIf="registerForm.get('email').valid"
                matSuffix
                style="color: rgb(0, 177, 0)"
                >check</mat-icon
              >
              <mat-error>{{ displayErrorMessage.email }}</mat-error>
            </mat-form-field>

            <div fxFill formGroupName="passwordGroup">
              <mat-form-field fxFill appearance="outline">
                <mat-label
                  >كلمة السر
                  <mat-icon>https</mat-icon>
                </mat-label>
                <input
                  formControlName="password"
                  matInput
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error>{{ displayErrorMessage.password }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFill appearance="outline">
                <mat-label
                  >إعادة تعين كلمة السر
                  <mat-icon>https</mat-icon>
                </mat-label>
                <input
                  formControlName="confirmPassword"
                  matInput
                  [type]="hide2 ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hide2 = !hide2"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2"
                >
                  <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
                </button>

                <mat-error>{{ displayErrorMessage.confirmPassword }}</mat-error>
              </mat-form-field>
              <mat-error *ngIf="registerForm.get('passwordGroup').errors?.match"
                >كلمة السر غير متطابقة !</mat-error
              >
            </div>
            <mat-radio-group
              fxFill
              fxLayout="row wrap"
              fxLayoutAlign="center center"
              aria-label="Select an option"
              style="font-size: 13px; margin: 5px 0"
              formControlName="type"
            >
              <p fxFlex="95" style="font-size: 14px">من انت ؟ :</p>
              <mat-radio-button fxFlex="32" value="1">صاحب محل</mat-radio-button>
              <mat-radio-button fxFlex="32" value="2">اون لاين</mat-radio-button>
              <mat-radio-button fxFlex="32" value="3">مشتري عادي</mat-radio-button>
            </mat-radio-group>

            <button
              [ngClass]="{
                registerButton: registerForm.valid,
                'button-invalid': registerForm.invalid
              }"
              fxFill
              mat-raised-button
              type="submit"
              [disabled]="registerForm.invalid"
            >
              تسجيل
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <div fxHide.gt-sm fxFlex="100" style="height: 200px; background-color: #c8c8c8"></div>
  </div>
  <!--  -->
  <!--  -->
  <div
    class="bannerContainer"
    fxFlex="60"
    fxHide.sm
    fxHide.lt-sm
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <img src="../../../assets/images/loginBanner.gif" alt="" />
  </div>
</div>
