*:not(mat-icon) {
  font-family: "serif" !important;
  padding: 0;
  margin: 0;
  direction: rtl;
}

.loginRegisterContainer {
  height: 100%;
}

.logo {
  height: 150px;
  img {
    max-height: 250px;
    max-width: 250px;
  }
}

.loginRegisterContainer {
  background-color: #c8c8c8;
  mat-card {
    // register
    background-color: rgb(255, 255, 255);
    .registerForm {
      min-height: 500px;

      mat-form-field {
        font-size: 14px !important;
      }
    }
    // login
    .loginContainer {
      .loginForm {
        min-height: inherit;
        h3 {
          margin: 10px auto;
        }
      }
    }
  }
  .registerButton {
    margin: 15px 0;
    background-color: #dc6206;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
    transition: all 0.1s ease-in-out;
  }
  .registerButton:hover {
    margin: 15px 0;
    background-color: #fff;
    border: 2px solid #ff6e00;
    color: #dc6206;
    font-size: large;
    font-weight: bold;
    font-family: "serif";
  }
}

.bannerContainer {
  height: 100%;
  background-color: #c8c8c8;
  img {
    max-height: 100%;
  }
}

// buttons invalid
.button-invalid {
  margin: 15px 0;
  background-color: gray;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "serif";
  transition: all 0.1s ease-in-out;
}

// mat-tab-group {
//   color: #ff6e00;
// }
form {
  direction: rtl !important;
  mat-error {
    font-size: 13px;
  }
}

// input out field
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff6e00 !important;
}

// radio

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ff6e00 !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: blue !important; /*outer ring color change*/
}
//تذكزكري
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  // color: rgba(28,190,204,0.8) !important;
  background-color: #374b73 !important;
}
