*:not(mat-icon) {
  font-family: "serif" !important;
}

mat-toolbar {
  height: 100%;
  padding: 0;
  margin: 0;
  direction: rtl;
}

.nav-list {
  ul {
    list-style-type: none;
  }
  li {
  }

  a:hover {
    cursor: pointer;
  }
}

.title {
  font-size: large;

  p {
  }
  span {
    color: #ff6e00;
    font-size: 30px;
    margin: 0 8px;
    text-align: center;
  }
}

.toggleButton {
  button {
    outline: none;
    margin: 0 10px;
  }
  mat-icon {
    font-size: 40px;
    color: #ff6e00;
  }
}
