<mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="space-around center">
  <!--  -->
  <div class="nav-list">
    <ul>
      <li>
        <a [matMenuTriggerFor]="menu">
          <mat-icon style="font-size: 40px; color: #ff6e00">settings</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <mat-form-field appearance="outline" dir="ltr">
            <mat-label>{{ "choose a language" | translate }}</mat-label>
            <mat-select [(value)]="lang" (selectionChange)="changeLang($event.value)">
              <mat-option value="en">English</mat-option>
              <mat-option value="ar">العربية</mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-menu-item
            fxFlex
            fxLayout="row "
            fxLayoutAlign="center center"
            (click)="logOut()"
          >
            <mat-icon fxFlex="10">logout</mat-icon>
            <span fxFlex="80">Logout</span>
          </button>
        </mat-menu>
      </li>
      <li></li>
    </ul>
  </div>

  <!-- Title  -->
  <div class="title" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <p>هاتلي</p>
    <span>9</span>
    <p>وديلي</p>
  </div>
  <!--  -->
  <!-- before side nav open *ngIf="sideOpen"  -->
  <div class="toggleButton">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon inline="true">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
