<mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="space-around center">
  <!--  -->
  <div class="setting">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <!--  -->
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      fxFlex
      fxLayout="row "
      fxLayoutAlign="center center"
      (click)="logOut()"
    >
      <mat-icon fxFlex="10">logout</mat-icon>
      <span fxFlex="80">Logout</span>
    </button>
  </mat-menu>
  <!-- Title  -->
  <div class="title" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <p>هاتلي</p>
    <span>9</span>
    <p>وديلي</p>
  </div>
  <!--  -->
  <!-- before side nav open *ngIf="sideOpen"  -->
  <div class="toggleButton">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon inline="true">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
